footer {
    box-sizing: border-box;
    height: 200px;
    background: #414141;
    padding-top: 23px;

}

.wrap-footer {
    display: inline-block;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-txt {

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;

}

.footer-txt span {
    color: #B0AFAF;

}

.btn-top {
    position: absolute;
    top: 0;
    right: 16px;

}


@media screen and (max-width:767px) {
    footer,
    .footer-txt {
        text-align: center;
    }
}